COMPOSE_PROJECT_NAME=continuwuity

TZ=Europe/Berlin

UID_HOMESERVER=0
GID_HOMESERVER=0

DOMAIN=domain.tld
DOMAIN_TURN=turn.${DOMAIN}
DOMAIN_RTC=rtc.${DOMAIN}

CONTINUWUITY_SERVER_NAME=matrix.${DOMAIN}

# /.well-known/matrix/client
CONTINUWUITY_WELL_KNOWN__CLIENT=https://${CONTINUWUITY_SERVER_NAME}
# /.well-known/matrix/server
CONTINUWUITY_WELL_KNOWN__SERVER=${CONTINUWUITY_SERVER_NAME}:443
# /.well-known/matrix/support
CONTINUWUITY_WELL_KNOWN__SUPPORT_EMAIL=mail@${DOMAIN}

# legacy calls
# /_matrix/client/r0/voip/turnServer
CONTINUWUITY_TURN_SECRET=<static-auth-secret from coturn.conf>
CONTINUWUITY_TURN_TTL=86400
CONTINUWUITY_TURN_URIS=[ "turn:${DOMAIN_TURN}?transport=udp", "turn:${DOMAIN_TURN}?transport=tcp" ]
# TLS URLs (turns) if set up in coturn.conf
# CONTINUWUITY_TURN_URIS=[ "turn:${DOMAIN_TURN}?transport=udp", "turn:${DOMAIN_TURN}?transport=tcp", "turns:${DOMAIN_TURN}?transport=udp", "turns:${DOMAIN_TURN}?transport=tcp" ]

# /_matrix/client/v1/rtc/transports
# /_matrix/client/unstable/org.matrix.msc4143/rtc/transports
CONTINUWUITY_MATRIX_RTC__FOCI=[ { type = "livekit", livekit_service_url = "https://${DOMAIN_RTC}" } ]

LIVEKIT_URL=wss://${DOMAIN_RTC}

# Generate API-Keys with LiveKit Docker Image
# https://continuwuity.org/calls/livekit#2-services
LIVEKIT_KEY=<generated key-secret-pair from livekit.yaml>
LIVEKIT_SECRET=<generated key-secret-pair from livekit.yaml>


# Start and read registration token to register first user (admin)
# https://continuwuity.org/deploying/docker.html#starting-your-server
#
# docker compose up -d
# docker compose logs homeserver 2>&1

# Check server and federation
# see https://continuwuity.org/deploying/generic#how-do-i-know-it-works
# https://federationtester.mtrnord.blog/
#
# /_conduwuit/server_version
# /_matrix/federation/v1/version
